* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(145deg, #f52a2d, #fa2263);
  box-shadow: 5px 5px 10px #ff2e62;
}
