/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  margin: 0;
  padding: 0;
  /* background-color: #f1587e; */
}

.home {
  font-size: 60px;
  font-weight: 800;
  font-family: monospace;
}

.heading {
  margin-top: 30vh;
}

.btndiv {
  display: flex;
  justify-content: center;
}

.btndiv :nth-child(even) {
  margin-right: 40px;
  margin-left: 40px;
}

.btn {
  margin-top: 70px;
  background: linear-gradient(145deg, #f52a2d, #fa2263);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: medium;
  font-weight: 700;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
}

.backbtn {
  position: absolute;
  top: 0px;
  left: 10%;
  background: linear-gradient(145deg, #f52a2d, #fa2263);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: medium;
  font-weight: 700;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
}

.slider {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 30%;
  min-width: 200px;
}

.slider2 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 25%;
  min-width: 200px;
}

.box li {
  list-style-type: none;
  margin-right: 3px;
}

.box {
  display: grid;
  background: linear-gradient(145deg, #ff004c, #eb1f23);
  box-shadow: 20px 20px 60px #ec4e76, -20px -20px 60px #d65475;
  border-radius: 20px;
  justify-self: center;
  width: 70vw;
  height: 70vh;
  grid-template-columns: repeat(50, 1fr);
  box-shadow: 20ch;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.bar {
  background-color: #d6d6d6;
  max-height: 68vh;
  border-radius: 5px;
  align-self: center;
  max-width: 20px;
}

button {
  margin-top: 20px;
  width: 50px;
  border-radius: 2px;
  background-color: #ff3658;
  border: none;
}

.box li {
  animation-name: animateIn;
  animation-duration: 450ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.container {
  background-color: #faf8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.sortbtn {
  position: absolute;
  top: 0px;
  left: 90vw;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: scale(0) translateY(0px);
  }
}

.text1 {
  color: rgb(253, 51, 88);
  text-transform: uppercase;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.text2 {
}
/* 
* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

#root {
  overflow: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
  background: #f0f0f0;
}

.list {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  width: 65ch !important;
  height: 100%;
}

.card {
  position: absolute;
  will-change: transform, height, opacity;
  width: 100%;
}

.cell {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  padding: 15px;
}

.details {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.2);
}
*/
